/*===Navbar toggler===*/
.nt {
  top: 10px;
  right: 1%;
}
.talent-logo {
  width: 40%;
  margin-top: -10px;
}
.btns {
  border-radius: 5px;
  border: solid 1px #74d30b !important;
  color: #74d30b !important;
  transition: 0.5s !important;
  background-color: #fff !important;
}
.btns:hover {
  background-color: #74d30b !important;
  color: white !important;
}
.dropdown-menu {
  background-color: #fff;
  border: solid 1px #74d30b !important;
  width: fit-content;
}
.dropdown-menu li a {
  color: #74d30b !important;
  transition: 0.5s !important;
}
.dropdown-menu li a:hover {
  background-color: #74d30b;
  color: white !important;
}
/*===Section home===*/
.section-home {
  height: auto;
  scroll-behavior: smooth;
  min-height: 75vh;
}
.cont {
  width: 100%;
  max-height: 90%;
  margin-left: 13%;
  padding-right: 10%;
}

.find {
  margin-top: 4%;
  width: 100%;
}
.stud img {
  min-width: 50%;
  max-width: 60%;
}
.stud {
  width: 100%;
}
.yellow-round {
  content: "";
  height: 70px;
  width: 100px;
  border-radius: 100%;
  box-shadow: 110px 50px 40px rgba(116, 211, 11, 0.9);
  top: 20%;
  left: 2%;
  opacity: 0.3;
  transform: rotateX(30);
  position: absolute;
  background-color: unset;
}
