.picture{
    width: 170px;
    height: 170px;
    margin: 70px 47px 10px 58px;
    border-radius: 10px;
    background-color: red;
  }
  .box {
    width: 190px;
    height: 257px;
    margin: 70px 98px 15px 209px;
    padding: 10px 9px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(116, 211, 11, 0.25);
    background-color: #fff;
  }
